#demo {
    padding: 1rem;
    margin: 1rem;
    background-color: red;

}

#img1 {
    transition: 4s linear;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}